/* Styling applied for the entire web page */
/* CSS reference: https://developer.mozilla.org/en-US/docs/Web/CSS */

body {
  padding: 0px;
  background-color: black; /* Change to: palegreen */
}

/* Paragraph text styles */

p {
  color: black;
  background-color: rgb(245, 218, 200);

  font-size: 16px;
  line-height: 1.5;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
}

/* Heading text styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rampart One";
}

h1 {
  text-align: center;
  font-size: 40px;
  color: green;
}

h2 {
  color: crimson;
}
footer {
  padding: 10px;
  display: block;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
}
#foot-div {
  margin-left: 180px;
  font-size: 15px;
  font-family: sans-serif;
}

.navv {
  background-color: black;
  opacity: 0.8;
}
.nav-ul li {
  display: inline;
  list-style: none;
  padding: 20px;
  margin: 2px auto;
  color: white;
  cursor: pointer;
}
